* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

body {
    background-color: rgb(51, 50, 55);
    color: whitesmoke;
}

#partyList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;

}

#partyList > li {
    border: 1px solid whitesmoke;
    padding: 1rem 2rem 2rem 2rem;
    margin: 1rem;

}

form {
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
}

#submit {
    margin: 2rem auto 0 auto;
    width: 100px;
    text-align: center;
}

#del {
    float: right;
}
